<div class="col-sm-6 col-md-4 update-item">
  <div class="panel panel-default"data-id="{{id}}">
    <form id="update-item" class="form">
      <div class="panel-body">

        <div class="form-group">
          <label for="update-item-title" class="sr-only">Title</label>
          <input type="text" class="form-control" name="item[title]" id="update-item-title" placeholder="title" value='{{title}}' data-content="{{title}}">
        </div>

        <div class="form-group">
          <label for="update-item-body" class="sr-only">Body</label>
          <textarea class="form-control" name="item[body]" id="update-item-body" placeholder="body" rows="3" data-content="{{body}}">{{body}}</textarea>
        </div>

      </div>
      <div class="panel-footer">

        <a href="#" class="btn btn-link pull-left" id="update-item-cancel">Cancel <span class="glyphicon glyphicon-remove"></span></a>

        <button class="btn btn-link pull-right" type="submit">Save <span class="glyphicon glyphicon-ok"></span></button>

        <div class="clearfix"></div>

      </div>
    </div>
  </form>
</div>
